node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.expo/
.expo-shared/
dist/
build/
*.ipa
*.apk

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.hks

.env
.env.local
.env.*.local
